GettingStartedClient/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8083/GettingStarted/?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8083/GettingStarted/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="ICalculator_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:multiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:multiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_divide_InputMessage">
    <wsdl:part name="parameters" element="tns:divide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:divideResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:subtract" />
  </wsdl:message>
  <wsdl:message name="ICalculator_subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:subtractResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/add" message="tns:ICalculator_add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/addResponse" message="tns:ICalculator_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/multiply" message="tns:ICalculator_multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/multiplyResponse" message="tns:ICalculator_multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/divide" message="tns:ICalculator_divide_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/divideResponse" message="tns:ICalculator_divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/subtract" message="tns:ICalculator_subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/subtractResponse" message="tns:ICalculator_subtract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>